$primary: #181433;
$accent: #b59aef;

$breakpoints: (
  'small-mobile': 375px,
  'mobile': 767px,
  'tablet': 992px,
  'desktop': 1200px,
) !default;

$p-xs: 4px;
$p-s: 8px;
$p-m: 16px;
$p-l: 24px;
$p-xl: 32px;
$p-xxl: 44px;

$m-xs: 4px;
$m-s: 8px;
$m-m: 16px;
$m-l: 24px;
$m-xl: 32px;
$m-xxl: 44px;
